<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_first/attack/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/end/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/end/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/end/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/end/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{496,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/start/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{620,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/start/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{744,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_first/start/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{868,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/end/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{992,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/end/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1116,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1240,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1364,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1488,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1612,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1736,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/left_right/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1860,0},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{124,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{248,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{372,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{496,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/right_left/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{620,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/start/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{744,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/start/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{868,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_second/start/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{992,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1116,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{248,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{372,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1240,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1364,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1488,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1612,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1736,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1860,192},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/body/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{124,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{496,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1612,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1736,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{620,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{744,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{868,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{992,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1116,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1240,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1364,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/eye/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,192}</string>
                <key>spriteSourceSize</key>
                <string>{124,192}</string>
                <key>textureRect</key>
                <string>{{1488,384},{124,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_1_sheet.png</string>
            <key>size</key>
            <string>{1984,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7909902f476dbba379b6d09787c16302:3875f964f0ee359d5e3b807220aa14f5:03c1402299e7660afa1eb51939235202$</string>
            <key>textureFileName</key>
            <string>boss_1_sheet.png</string>
        </dict>
    </dict>
</plist>
