<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_1_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{384,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_left_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{480,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{576,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{672,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{768,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{864,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{960,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_right_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1056,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_regular.png</string>
            <key>size</key>
            <string>{1152,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2aa72c7fef634a8b8572a854dacec86:c48a369c03f1c41a4f6fa26b36b47aea:7da3ee592b5c31f277827a8f0d1ba5b4$</string>
            <key>textureFileName</key>
            <string>enemy_regular.png</string>
        </dict>
    </dict>
</plist>
