<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_1_static_layer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1_static_layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{0,320},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1_static_layer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{0,640},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_1_static_layer.png</string>
            <key>size</key>
            <string>{480,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b16966a401c909f09250a074f9ae6ca7:13aa155eb7bddca79c748d59fe6009ed:152b509d1fae9525f71f50a123fa4429$</string>
            <key>textureFileName</key>
            <string>level_1_static_layer.png</string>
        </dict>
    </dict>
</plist>
