<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1/close/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/close/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{482,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/far/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{963,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/far/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1444,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/floor/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,322},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/floor/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{482,322},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/floor/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{963,322},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/mid/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1444,322},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/mid/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,643},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/close/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{482,643},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/close/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{963,643},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/far/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1444,643},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/far/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,964},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/floor/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{482,964},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/floor/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{963,964},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/floor/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1444,964},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/mid/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1285},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/mid/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{482,1285},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1925,1606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90879da2886f052c0f8e4ecfde65d9ea:46ee3e6bffd5424b59f3a4ed11a0c0bb:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
