<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1/regular/left/enemy_1_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/left/enemy_1_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{98,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/left/enemy_1_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{195,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/left/enemy_1_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{292,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/left/enemy_1_left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{389,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/left/enemy_1_left_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{486,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{583,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{680,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{777,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{874,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/regular/right/enemy_1_right_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{98,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{195,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{292,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{389,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{486,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{583,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/left/enemy_2_left_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{680,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{777,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{874,98},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{98,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{195,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/variant/right/enemy_2_right_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{292,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{389,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{486,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{583,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{680,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{777,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/left/enemy_1_left_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{874,195},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{98,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{195,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{292,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{389,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/regular/right/enemy_1_right_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{486,292},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{583,292},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{776,292},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,485},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{194,485},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{387,485},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/left/enemy_2_left_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{580,485},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{773,485},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,678},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{194,678},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{387,678},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{580,678},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/variant/right/enemy_2_right_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{773,678},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemies.png</string>
            <key>size</key>
            <string>{971,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e997fb88b2d8b38e09aa2ffaa70d06a7:daadfe7b18e59fcc159273c373f5edb9:c41b873672bc02e612f9bba7d862980a$</string>
            <key>textureFileName</key>
            <string>enemies.png</string>
        </dict>
    </dict>
</plist>
