<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{43,1},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{85,1},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{1,29},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_title_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{43,29},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_title_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{85,29},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_title.png</string>
            <key>size</key>
            <string>{127,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:061546db0d708eee40b7713e6db7e3c1:b70cdbb8c9149c6c3d5aab08d5fa6c60:e561cb4017838cf354a19f9b65a761a6$</string>
            <key>textureFileName</key>
            <string>main_title.png</string>
        </dict>
    </dict>
</plist>
