<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_unarmed_idle_left_test_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_test_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_test_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_test_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_test_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,224},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_test_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,224},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_test_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,336},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_test_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,336},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_test_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,448},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_test_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,448},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,560},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,560},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,672},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,672},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,784},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,784},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,896},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_test_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,896},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,1008},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,1008},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,1120},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,1120},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,1232},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,1232},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,1344},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_test_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,1344},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_sheet.png</string>
            <key>size</key>
            <string>{224,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d5c9cfcbd60774fc342f4e6f7ba532:3145a2ae5e56e9a9d80bff055ffb4475:18f410f6a0fbce08392f7aab04a1178c$</string>
            <key>textureFileName</key>
            <string>character_sheet.png</string>
        </dict>
    </dict>
</plist>
