<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_unarmed_fall_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{224,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{336,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{448,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{560,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{672,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_fall_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{784,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{896,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1008,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1120,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1232,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1344,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1456,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1568,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1680,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1792,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_idle_right_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1904,0},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_jump_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{0,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_jump_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{112,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{224,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{336,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{448,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{560,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{672,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{784,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{896,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_left_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1008,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1120,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1232,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1344,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1456,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1568,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1680,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1792,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_unarmed_run_right_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1904,112},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_sheet.png</string>
            <key>size</key>
            <string>{2016,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59f34b55fb8147958ff5fcec36a5f430:74b5ceb4eebad70aee8c8f4d846db2c3:18f410f6a0fbce08392f7aab04a1178c$</string>
            <key>textureFileName</key>
            <string>character_sheet.png</string>
        </dict>
    </dict>
</plist>
