<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack1/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{0,579},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{32,579},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{64,579},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{96,579},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{0,1158},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{32,1158},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{64,1158},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,579}</string>
                <key>spriteSourceSize</key>
                <string>{32,579}</string>
                <key>textureRect</key>
                <string>{{96,1158},{32,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_projectile.png</string>
            <key>size</key>
            <string>{128,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9c5eb35e9f34be62bca45efd6b0617:5ec74509aaa50f8680660301f8da5790:ae797d7f51803f592f62f0c6e331c5f3$</string>
            <key>textureFileName</key>
            <string>boss_projectile.png</string>
        </dict>
    </dict>
</plist>
