<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{72,0},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>laser_projectile.png</string>
            <key>size</key>
            <string>{108,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:832653f14274ed885886eff93c4a42c5:0fc324f6369563dd7b60b66789f28699:f61446019443b8214b4d79c475c18eb4$</string>
            <key>textureFileName</key>
            <string>laser_projectile.png</string>
        </dict>
    </dict>
</plist>
