<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_projectile.png</string>
            <key>size</key>
            <string>{24,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:800fd6d799693af377aca211de6eaf8f:bf483384f24dd56db894e1d11c6a2aa7:700c3cb20f35d5cb38fd272bccef4205$</string>
            <key>textureFileName</key>
            <string>player_projectile.png</string>
        </dict>
    </dict>
</plist>
