<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ray1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,20}</string>
                <key>spriteSourceSize</key>
                <string>{800,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ray2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,20}</string>
                <key>spriteSourceSize</key>
                <string>{800,20}</string>
                <key>textureRect</key>
                <string>{{800,0},{800,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ray3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,20}</string>
                <key>spriteSourceSize</key>
                <string>{800,20}</string>
                <key>textureRect</key>
                <string>{{0,20},{800,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ray4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,20}</string>
                <key>spriteSourceSize</key>
                <string>{800,20}</string>
                <key>textureRect</key>
                <string>{{800,20},{800,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ray_projectile.png</string>
            <key>size</key>
            <string>{1600,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be9cfd121ea4ec6fe0c3a05c6beb36f9:4c7fe104f05cc228a9a5a4093778c62a:e81f3c653ce324cc134241e46dedc045$</string>
            <key>textureFileName</key>
            <string>ray_projectile.png</string>
        </dict>
    </dict>
</plist>
